Django==5.0.0
python-decouple==3.8
psycopg2-binary==2.9.9
celery==5.3.4
redis==5.0.1
pgvector==0.2.4
torch==2.1.2
transformers==4.36.2
sentence-transformers==2.3.1
sentencepiece
scikit-learn
groq==0.4.1
feedparser==6.0.10
requests==2.31.0
beautifulsoup4==4.12.2
openai-whisper==20231117
soundfile==0.12.1
numpy==1.26.2
pandas==2.1.4
python-dateutil==2.8.2
shap
spacy>=3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
sentence-transformers>=2.2.0
dj-rest-auth[with_social]==5.0.1
django-allauth==0.55.2
